.pics{
    width: 100vw;
    height: 1000px;
    background-color: #EBFEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:800px){
    height: 500px;
    }



    img{
        width: 994.7px;
        height: 573.65px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
        @media (max-width:800px){
            width: 278.32px;
            height: 160.16px;

            
        }
    }
}