.icons{
    width: 100vw;
    height: 200px;
    background-color: rgba(26, 224, 236, 1);
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 70px;
    @media screen and (max-width:800px) {
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
        padding-bottom: 40px;
        
    }
    .icon img{
        margin-bottom: 10px;
        // @media screen and (max-width:800px){
        //     width: 20px;
        //     height: 20px;              
        }

    //     .icon>p{
    //     @media screen and(max-width:800px) {
    //     margin-bottom: 5px;    
    //     }
    // 
    }
    


    

