.footer{
    width: 100vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border: 0px solid #000;
    border-bottom: 2px solid rgba(26, 224, 236, 1);
    direction: rtl;
    p{
        font-family: 'Heebo', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: rgba(26, 224, 236, 1);
        padding-top: 15px;
        padding-right: 15px;
    }
}