.works {
  width: 100vw;
  height: 1550px;
  background-color: rgba(246, 246, 246, 1);
  direction: rtl;
  text-align: center;
  z-index: 1;
  @media screen and (max-width: 800px) {
    height: 3000px;
  }

  h1 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: rgba(58, 58, 58, 1);
    padding-top: 100px;
  }
  p {
    padding-top: 10px;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(58, 58, 58, 1);
  }
}
.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    margin-top: 0;
  }

  .card {
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
    font-family: "Heebo", sans-serif;
    color: rgba(58, 58, 58, 1);
    @media screen and (max-width: 800px) {
      margin-bottom: 30px;
    }

    .card-body {
      h5 {
        font-size: 23px;
        font-weight: 500;
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
      .btn {
        width: 150px;
        height: 30px;
        background-color: rgba(26, 224, 236, 1);
        border-radius: 15px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(44, 44, 44, 1);
        text-align: center;
      }
    }
  }
}

.gameWorks {
  background-color: #e8e8e8 !important;
  height: 1050px;
  @media screen and (max-width: 800px) {
    height: 2100px;
  }
}
