@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed !important;
  background-color: #FFFFFF;
  border-top: 1px solid #1AE0EC;
  height: 70px;
  z-index: 2;
}
.navbar nav {
  width: 100vw;
  color: #FFFFFF;
  opacity: 1;
  direction: rtl;
}
.navbar nav ul {
  margin-top: 21.5px;
  margin-right: 70px;
  margin-bottom: 10px;
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.navbar nav ul li {
  flex-direction: column;
}
.navbar nav ul li a {
  font-size: 1.5em;
  color: rgb(44, 44, 44);
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.navbar nav ul li a:hover {
  color: #1AE0EC;
}
.navbar a {
  text-decoration: none;
}
.navbar h1 {
  font-family: futura;
  font-size: 1.5em;
  font-weight: 400;
  color: #444444;
  margin-top: -43px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.welcome {
  width: 100vw;
  height: 460px;
  background-color: rgba(19, 232, 241, 0.3882352941);
  direction: rtl;
  padding-top: 120px;
}
@media (max-width: 800px) {
  .welcome {
    width: 100vw;
    height: 350px;
  }
}
.welcome h1 {
  font-family: heebo;
  font-size: 5em;
  font-weight: 900;
  color: #3A3A3A;
  text-align: center;
}
@media (max-width: 800px) {
  .welcome h1 {
    font-size: 3em;
  }
}
.welcome p {
  text-align: center;
  font-family: heebo;
  font-size: 1.25em;
  font-weight: 500;
  padding-right: 350px;
  padding-left: 350px;
  color: #3A3A3A;
}
@media (max-width: 800px) {
  .welcome p {
    font-size: 0.9em;
    padding-right: 30px;
    padding-left: 30px;
  }
}
.welcome .buttons {
  width: 350px;
  margin: 30px auto;
  text-align: center;
}
.welcome .buttons button {
  width: 150px;
  height: 30px;
  border: 0;
  background-color: #1AE0EC;
  font-family: heebo;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #2C2C2C;
  border-radius: 15px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .welcome .buttons button {
    width: 150px;
    height: 25px;
    font-size: 12px;
  }
}

.programs {
  background-color: white;
  width: 100vw;
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 800px) {
  .programs {
    height: 100px;
    direction: rtl;
  }
}

.programs img {
  width: 90px;
  height: 90px;
  margin-left: -450px;
  margin-right: -450px;
}
@media (max-width: 800px) {
  .programs img {
    width: 70px;
    height: 70px;
    margin-left: -400px;
    margin-right: -400px;
  }
}

.pics {
  width: 100vw;
  height: 1000px;
  background-color: #EBFEFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .pics {
    height: 500px;
  }
}
.pics img {
  width: 994.7px;
  height: 573.65px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
@media (max-width: 800px) {
  .pics img {
    width: 278.32px;
    height: 160.16px;
  }
}

.footer {
  width: 100vw;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border: 0px solid #000;
  border-bottom: 2px solid rgb(26, 224, 236);
  direction: rtl;
}
@media (max-width: 800px) {
  .footer {
    height: 30px;
  }
}
.footer p {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(26, 224, 236);
  padding-top: 15px;
  padding-right: 15px;
}
@media (max-width: 800px) {
  .footer p {
    font-size: 12px;
    padding-top: 5px;
    padding-right: 8px;
  }
}/*# sourceMappingURL=work6.css.map */