.welcome{
    width: 100vw;
    height: 460px;
    background-color: #13E8F163;
    direction: rtl;
    padding-top: 120px;
    @media (max-width: 800px){
        width: 100vw;
        height: 350px;
    }
    h1{
        font-family: heebo;
        font-size: 5em;
        font-weight: 900;
        color: #3A3A3A;
        text-align: center;
        @media (max-width: 800px){
        font-size: 3em;
    }

        
    }
    p{
        text-align: center;
        font-family: heebo;
        font-size: 1.25em;
        font-weight:500;
        padding-right: 350px;
        padding-left: 350px;
        color: #3A3A3A;
        @media (max-width: 800px){
        font-size: 0.9em;
        padding-right: 30px;
        padding-left: 30px;
    }

    }
    .buttons{
        width: 350px;
        margin: 30px auto;
        text-align: center;


    }
    .buttons button{
        width: 150px;
        height: 30px;
        border: 0;
        background-color: #1AE0EC;
        font-family: heebo;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #2C2C2C;
        border-radius: 15px;
        @media (max-width: 800px){
        width: 150px;
        height: 25px;
        font-size: 12px;
    }
        cursor: pointer;
    }
}