.contact{
    width: 100vw;
    height: 700px;
    background-color: rgba(58, 58, 58, 1);
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // direction: rtl;
    // padding-bottom:170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width:800px) {
        // grid-template-columns: repeat(1,1fr);
        display: flex;
        flex-direction: column;
        padding-right: 40px;
        padding-left: 40px;
        justify-content: start;
    }


.contactContent{
    // grid-column: 1/2;
display: flex;
flex-direction: column;
    // margin-right: 200px;
    direction: rtl;
        @media screen and (max-width:800px) {
        margin-right: 0;
    }

}
img{
    width:  462px;
    height: 402.6px;
    margin: 0;
    margin-right: 100px;
    // margin-right: 100px;
    // margin-top: -300px;
        @media screen and (max-width:800px) {
        width: 231px;
        height: 201.3px;

    }

    
}

h1{
    font-family: 'Heebo', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    padding-top: 120px;
        @media screen and (max-width:800px) {
        font-size: 25px;
        // padding: 30px;
        padding-top: 0;
    }

}
p{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 1.8;
    width: 500px;
        @media screen and (max-width:800px) {
        font-size: 15px;
        width: auto;
        // padding-left: 300px;
    }


}
form{
    display: flex;
    flex-direction: column;
    label{
        font-family: 'Heebo', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: white;

        @media screen and (max-width:800px) {
        font-size: 12px;
    }


    }
    input{
        line-height: 2.2;
        border: 0px solid #000;
        border-bottom: 2px solid rgba(26, 224, 236, 1);
        margin-bottom: 10px;
        width: 500px;
        @media screen and (max-width:800px) {
            width: auto;
        }
    }
    textarea{
        border: 0 solid #000;
        border-bottom: 2px solid rgba(26, 224, 236, 1);
        margin-bottom: 30px;
        width: 500px;
        @media screen and (max-width:800px) {
        height: 85px;
        width: auto;
        margin-bottom: 15px;
    }

    }
    .button{
        width: 160px;
        height: 40px;
        background-color: rgba(26, 224, 236, 1);
        color: rgba(44, 44, 44, 1);
        font-family: 'Heebo', sans-serif;
        font-size: 20px;
        font-weight:700;
        border-radius: 25px;
        @media screen and (max-width:800px) {
        font-size: 14px;
        width: 120px;

        @media screen and (max-width:800px) {
            width: 120px;
            font-size: 14px;
            height: 30px;
        }
    }


    }
}

}